body {
    justify-content: center;
    /* /not to go over viewport height */
    margin: 0; 
    background-color: #222;
}

.card {
    background-color:#eaeaea;

}

#ytvideo {
    background-color: #eaeaea;
}