body {
    justify-content: center;
    margin: 0; 
    background-color: #222;
}

.card {
    background-color:#eaeaea;

}

#ytvideo {
    background-color: #eaeaea;
}

.playlist-image {
    transition: 0.2s all;
}

.playlist-image:active {
    transform: scale(0.98);
}